---
import Base from "@/layouts/Base.astro";
import Hero from "@/components/Hero.astro";
import ExperimentGrid from "@/components/ExperimentGrid.astro";
import WritingList from "@/components/WritingList.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const recentPosts = sortedPosts.slice(0, 5);
---

<Base>
  <div class="ds-container">
    <Hero />
    <ExperimentGrid />
    <WritingList posts={recentPosts} showAllLink={posts.length > 5} />
  </div>
</Base>
