---
import { markdownify } from "@/lib/utils/textConverter";
import { render } from "astro:content";

const { data } = Astro.props;
const { title } = data.data;
const { Content } = await render(data);
---

<div class="ds-container">
  <article class="ds-article">
    <h1 set:html={markdownify(title)} />
    <div class="article-body">
      <Content />
    </div>
  </article>
</div>
